doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='stylesheets/bootstrap.css')
		link(rel='stylesheet', href='stylesheets/bootstrap-responsive.min.css')
		link(rel='stylesheet', href='stylesheets/todc-bootstrap.css')
		script(src='/javascripts/bootstrap.min.js')
		script(src='/socket.io/socket.io.js')
		link(rel='stylesheet',href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.	1/themes/base/jquery-ui.css')
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
		script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js')
	body
		.navbar.navbar-inverse.navbar-fixed-top
			.navbar-inner
				.container
					button.btn.btn-navbar(type='button', data-toggle='colleapse', data-target='.nav-collapse')
						span.icon-bar
						span.icon-bar
						span.icon-bar
		block content